server.port: 8085
debug: false
management.endpoints.web.exposure.include: "*"

logging.level:
  org.hibernate.SQL: debug
  org.hibernate.type.descriptor.sql.BasicBinder: trace
  org.springframework.web.servlet: info
  org.springframework.jdbc.core.JdbcTemplate: DEBUG
  org.springframework.jdbc.core.StatementCreatorUtils: TRACE

springdoc:
  show-actuator: true

spring:
  mvc:
    cors:
      allowed-origins: "*"
      allowed-methods: "GET, POST, PUT, DELETE"
  application.name: orury-client
  datasource:
    #    url: ${LOCAL_DB_NAME}
    url: ENC(+jNy+HRl5S5QeokxoLB89WTqqqa7EGm73Cpm2N4KXnu1yH3puewQxOUDussQQ9Qd)
    #      username: ${LOCAL_DB_USER_NAME}
    username: ENC(ICwwkDRBtwGBxA6nGngL8g==)
    #      password: ${LOCAL_DB_USER_PASSWORD}
    password: ENC(HnXBRmSMLrFNxOsi9z6Iz+9nuM5BBLw2)
  jpa:
    show-sql: true
    open-in-view: false
    defer-datasource-initialization: true
    generate-ddl: true
    properties:
      hibernate.show_sql: true
      hibernate.format_sql: true
      hibernate.default_batch_fetch_size: 100
    hibernate.ddl-auto: validate
  sql.init.mode: always
  data.rest:
    base-path: /api
    detection-strategy: annotated
    baseline-on-migrate: true
  devtools:
    livereload:
      enabled: true
  freemarker:
    cache: false
    prefix=file: src/main/resources/templates/
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: ${KAKAO_OAUTH_CLIENT_ID}
            client-secret: ${KAKAO_OAUTH_CLIENT_SECRET}
            authorization-grant-type: authorization_code
            redirect-uri: http://localhost:8085/login/oauth2/code/kakao
            client-authentication-method: client_secret_post
        #          apple:
        #            client-id: { clientId }
        #            client-secret: { .p8 파일 이름 }/{KeyId}/{TeamId}
        #            authorization-grant-type: authorization_code
        #            redirect-uri: { domain }/login/oauth2/code/apple
        #            client-authentication-method: POST
        #        #            client-name: Apple
        #        #            scope:
        #        #              - email
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
  #          apple:
  #            authorization-uri: https://appleid.apple.com/auth/authorize?response_mode=form_post
  #            token-uri: https://appleid.apple.com/auth/token
  #            jwk-set-uri: https://appleid.apple.com/auth/keys
  jwt:
    secret:
      ENC(s+e66U0YV1+iNWMLFl0LCHmARANd5yCv3k41u0iPDpCyfG7+PUgpsYNyUP7SFk/PUNPuK/wnNod399PK2kW+qllbWZzqNwp6msfDx1xP8DCiTHCZXE4rcNZDYji0bM9uzyxIDCGMyDE=)
cloud:
  aws:
    s3:
      bucket: orury-image
    credentials:
      accessKey: ENC(yfr+1GPLxMHuTbbID6K7Jbs0Dm9iuuK9yFjrOJv8jCU=)
      secretKey: ENC(nnQ4XTkipeaA+bE6zKD6kI04Axa+E2Qjmw081EgZHpPXhPEBV/dgwqf9YeN1a0vJebMq0yceQJQ=)
    region:
      static: ap-northeast-2
---

spring:
  config.activate.on-profile: test
  datasource.url: jdbc:h2:mem:testdb