server.port: 8082
debug: false
management.endpoints.web.exposure.include: "*"

logging:
  level:
    org.springframework.web.servlet: info
    org.hibernate.type.descriptor.sql.BasicBinder: trace
springdoc:
  show-actuator: true
spring:
  main:
    allow-bean-definition-overriding: true
  mvc:
    cors:
      allowed-origins: "*"
      allowed-methods: "GET, POST, PUT, DELETE"
  application.name: orury-batch
  datasource:
    #    url: ${LOCAL_DB_NAME}
    url: ENC(+jNy+HRl5S5QeokxoLB89WTqqqa7EGm73Cpm2N4KXnu1yH3puewQxOUDussQQ9Qd)
    #    username: ${LOCAL_DB_USER_NAME}
    username: ENC(ICwwkDRBtwGBxA6nGngL8g==)
    #    password: ${LOCAL_DB_USER_PASSWORD}
    password: ENC(HnXBRmSMLrFNxOsi9z6Iz+9nuM5BBLw2)
  jpa:
    open-in-view: false
    defer-datasource-initialization: true
    hibernate.ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true
      hibernate.default_batch_fetch_size: 100
  sql.init.mode: always
  data.rest:
    base-path: /api
    detection-strategy: annotated
    baseline-on-migrate: true
  devtools:
    livereload:
      enabled: true
  freemarker:
    cache: false
  kakao:
    baseurl: https://dapi.kakao.com/v2/local/search/keyword.json
    key: ENC(8pDOKxCjQe2r3avazbs05VCB6ZT4DleSf+aCyiJedsl425HyfG176o5DJd10aURjcQxWyT/JKIc=)

cloud:
  aws:
    s3:
      bucket: ENC(DWaoEy70NtH+lhLIr08FR4qd/T11UK+X)
      default-image: default-user-profile
      url: https://s3.ap-northeast-2.amazonaws.com/
    credentials:
      accessKey: ENC(yfr+1GPLxMHuTbbID6K7Jbs0Dm9iuuK9yFjrOJv8jCU=)
      secretKey: ENC(nnQ4XTkipeaA+bE6zKD6kI04Axa+E2Qjmw081EgZHpPXhPEBV/dgwqf9YeN1a0vJebMq0yceQJQ=)
    region:
      static: ap-northeast-2

jasypt:
  encryptor:
    password: ${JASYPT_PASSWORD}

slack:
  token: ENC(7Pd4U/iPDtDF5quQM5TzMXF7jsfv+QQYCDdckH+/T8vbz/QOYTOKX6iAGdqM5gRVusZ84cC93RpQE8qK1kW4f6tdoIf5GDu2)
  channel: ENC(9i8/M3HKZDCGoJWCM1B1Lg6ECmK4eudW)
---

spring:
  config.activate.on-profile: test
  datasource.url: jdbc:h2:mem:testdb
---
spring:
  profiles:
    include: secret